*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(image/gym.jpg);
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;   
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(74,36,157),transparent);
    transition: 0.5s;
}

.header:hover::after{
    left: 100%;
}

.logo{
    width: 20%;
    height: 30%;
}

.logo img{
    height: auto;
    width: 100%;
}

.navbar{
    margin-top: 2px;
    margin-right: 50px;
}

.navbar a{
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a:hover{
    color: #fff;
    text-decoration:5px underline #35155D;    
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* BreakPoints */

@media(max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
        z-index: -1;
    }

    #check:checked~.navbar{
        height: 16.8rem;
        position: absolute;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 2rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }


}


:root{
    --dark-purple:#a113ff;
    --light-purple:#e678ff;
    --dark-orange:#fc8413;
    --light-orange:#ffbf7b;
    --dark-pink:#fe1799;
    --light-pink:#fd9baa;
}

section{
    min-height: 600px;
    padding: 1.5rem;
    display: flex;
    gap: 4rem;
}

.price_card{
    position: relative;
    width: 300px;
    height: 230px;
    margin-top: 10%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 10px var(--light-orange);
    transition: height .5s ease;
}

.price_card:hover{
    height: 550px;
}

.price_card .head{
    position: absolute;
    top: 0;
    width: 110%;
    height: 230px;
    color: #fff;
    /* background-color: red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.2));
    z-index: 1;
}

.price_card .head::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--dark-orange),var(--light-orange));
    border-radius: 20px;
    clip-path: polygon(0% 0%, 100% 0%,100% 90%,50% 100%, 0% 90%);
}

.price_card .head .info{
    position: relative;
    text-align: center;
}

.price_card .head .info h1{
    margin-bottom: 0.6rem;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.price_card .head .info p{
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.price_card .head .price{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    color: var(--dark-orange);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.price_card .desc{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price_card .desc li{
    list-style: none;
    color: #b1b1b1;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}

.price_card .desc .icon{
    font-size: 1.5rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_card .desc .icon.check{
    color: #2bcb2b;
}

.price_card button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    outline: none;
    background: linear-gradient(to right, var(--dark-orange), var(--light-orange));
    padding: 1rem 3rem;
    border-radius: 30px;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.price_card button:active{
    scale: 0.95;
}

/* colors */
/* CARD2 */
.price_card.card2{
    box-shadow: 0 5px 10px var(--light-purple);
}

.price_card.card2 .head::before,
.price_card.card2 button{
    background: linear-gradient(to right, var(--dark-purple), var(--light-purple));
}

.price_card.card2 .head .price{
    color: var(--dark-purple);
}

/* CARD3 */
.price_card.card3{
    box-shadow: 0 5px 10px var(--light-pink);
}

.price_card.card3 .head::before,
.price_card.card3 button{
    background: linear-gradient(to right, var(--dark-pink), var(--light-pink));
}

.price_card.card3 .head .price{
    color: var(--dark-pink);
}



@media (max-width:1200px){
    body{
        padding-top: 15%;
    }
    
    section{
        display: grid;
    }

    .price_card{
        margin-bottom: 20%;
    }

}
